.formationcont {
  width: 100%;
  max-width: 98vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12rem 0 3rem 0 ;
  z-index: 12;
  @media (max-width:770px) {
   padding: 5rem 0 10rem 0;
  }
  @media (max-width:1100px) {
flex-direction: column;
justify-content: center;
align-content: center
   }
  .formcol {
    margin: 10px;
    flex-grow: 0;
    height: 100%;
    width: fit-content;
    .expdescription{
      width: 350px;
      @media (max-width:770px) {
        width: 220px;
      }
    }
  }
  .dotscol {
    @extend .formcol;
@media (max-width:1100px) {
  display:none;
}
    .dotscont {
      height: fit-content;
      width: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10rem;
      .dot {
        width: 4px;
        height: 4px;
        background: #ea5841;
        border-radius: 100%;
        margin: 11px 21px;
      }
    }
  }

  .textcont {
    text-align: left;
    justify-self: center;
    align-self: center;
    width: 100%;
    .title {
      font-family: "Rammetto One", cursive;
      font-size: 26pt;
      color: #f9b339;
      margin: 0 0 0 0;
    }
    p {
      color: #264079;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 12pt;
      margin: 0;

    }
  }
  .expcont {
    text-align: left;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    //width: 100%;
    padding-block-start: 6rem;
    margin: 0 0 0 15vw;
    @media (max-width:1100px) {
      padding: 5rem 0 ;
      margin:15rem 0 0 0;
      height: fit-content;
     }
    .titlecont {
      //background: cadetblue;
      width: 60px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .title {
        font-family: "Rammetto One", cursive;
        font-size: 26pt;
        color: #f9b339;
        margin: 0 0 0 0;
        //background: red;
        transform: rotate(-90deg);
      }
    }
    p {
      color: #264079;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 12pt;
      margin: 0;
    }
  }
}
